.maincontainer{
    margin: 40px;
}
.personaldetails{
    text-align: center;
}
.personaldetails h1{
    color: purple;
}
.head{
    color: purple;
}
.head p {
    font-weight: bold;
}
.educationdetails{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.educationdetails p{
    margin: 0;
}

