.main-container {
 padding: 40px;
}
.personal-details {
  text-align: center;
}
.personal-details p{
  margin: 0;
  font-weight: bold;
}
.title {
  color: purple;
  margin-bottom: 10px;
}
.company-details p{
  margin-top: 0;
}
.company-details h4{
  margin-bottom: 8px;
}
.education-details {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.education-details p{
  margin: 0;
}
.margin-btn{
  margin-top: 0;
}
.psn-details ul li {
  font-weight: bold;
}