* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2;
}
.container {
  display: flex;
  max-width: 30vw;
  flex-direction: column;
  margin: 10px;
  background-color: rgba(239, 232, 213, 255);
  padding: 20px;
}

.countInput {
  flex: 1;
  padding: 10px;
  margin: 10px 2px;
  width: 99%;
  font-size: 24px;
}

.grpInput {
  position: relative;
}

.resetBtn {
  position: absolute;
  top: 20%;
  right: 1px;
  bottom: 20px;
  border: none;
  background: none;
  color: black;
  cursor: pointer;
}

button {
  margin: 2px;
  padding: 10px 20px;
  color: white;
  font-size: large;
  font-weight: 400;
  background-color: green;
  border: none;
  border-radius: 5px;
}
